*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
   
}
body{
    background-color: #333333;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow:hidden;
}

.main h1{
    text-align: center;
    color: yellow;
    font-size: 2.5rem;
    margin-top: 50px;
}
.main p{
    width: 75%;
    margin: 50px auto;
    color: white;
    font-size: 1.5rem;
    text-indent: 30px;
}

.color-picker{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 150px;
}
.color-picker .title{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-top: 50px;
}
.color-picker .sub-title{
    color: white;
    font-size: 1.5rem;
}

.colors{
    display: grid;
    gap: 55px 55px;
    width: 1000px;
    margin: 50px auto;
    grid-template-columns: auto auto auto auto auto auto auto;
}
.color{
    border: 2.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    color: white;
    text-align: center;
    width: 100px;
    height: 100px;
}
.color label{
    position: relative;
    top: 105px;
}

footer p{
    text-align: center;
    color: white;
    font-size: 1rem;
    margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    .main h1{
        font-size: 1.2rem;
    }
    .main p{
        font-size: .8rem;
        width: 90%;
    }
    .color-picker{
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .color-picker .title{
        font-size: 1.2rem;
    }
    .color-picker .sub-title{
        font-size: .8rem;
    }
    .colors{
        display: grid;
        gap: 25px 25px;
        width: 250px;
        margin: 30px auto;
        grid-template-columns: auto auto auto;
        place-items:  center;
    }
    .color{
        text-align: center;
        width: 50px;
        height: 50px;
    }
    .color label{
        font-size: .6rem;
        position: relative;
        top: 40px;
    }
    footer p{
        font-size: .7rem;
    }
  }